# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pro.user
build-*/Makefile.*
build-*/Makefile
build-SimpleTelemetryVisualizer-Desktop_Qt_5_4_0_MinGW_32bit-Debug/*
SimpleTelemetryVisualizer/docs/*
build-*/*
Backup_of_AlkFejlSignalMaps.cdr
AproPeldak/ClassDiagram.bmp
AproPeldak/JamMvp_ExportMeasurementSeq.bmp
AproPeldak/JamMvp_JunctionClass.bmp
AproPeldak/JamMvp_PathIdentificationSeq.bmp
AproPeldak/SequenceDiagram.bmp
VisitorObserverPelda/build-*
/Robotics/.vs/*
obj/
bin/
.vs/
